[Unit]
Description=ERI system checkin Node server

[Service]
# its not forking, since node just sits there outputting stuff
Type=simple
RootDirectory=/opt/node-checkin-master
ExecStart=/opt/node/bin/node /opt/node-checkin-master/bin/www 
## Example
#ExecStart=/usr/bin/node app.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-checkin-master
User=nsmgmt
Group=nsmgmt
Environment=NODE_ENV=production PORT=3003
WorkingDirectory=<FULL-PATH-TO-WORKING-DIRECTORY>

[Install]
WantedBy=multi-user.target
